//
//  Secret.xcconfig
//  UMCStarbuckApp
//
//  Created by Apple Coding machine on 6/17/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_API = "4c04688b32bc62f3fb88d5b4a99d46f8"
